:root{
  --color-light-bg   : #F2FF61;
  --color-primary    : #0a0a0a;
  --color-primary-title: #37474F;
  --color-light-fg   : #ADBB0B;
  --color-highlight  : #e42a1c;
  --color-highlight2 : #BA0070;
  --color-light-bg2  : #01FBDD;
  --color-light-fg2  : #5FDABD;
  --color-contrast-bg: #ffe600;
  --color-contrast-fg: #9b6107;
  --color-contrast-fg-hover: #a69c43;
  --color-bg-thin-constast: #EAEAEA;
  --color-inline-code-bg: #ffe938;
  --color-inline-code-fg: #0a0a0a;
}

.dark-mode-switch:checked ~ .toggle-text,
.dark-mode-switch:checked ~ .page {
  --color-bg         : #022935;
  --color-primary    : #b1c9ee;
  --color-primary-title: #d1dae4;
  --color-light-bg   : #48238A;
  --color-light-fg   : #9564E8;
  --color-highlight  : #19c673;
  --color-highlight2 : #02EDF5;
  --color-light-bg2  : #264751;
  --color-light-fg2  : #476f7b;
  --color-contrast-bg: #16414f;
  --color-contrast-fg: #5c8aa4;
  --color-contrast-fg-hover: #7697aa;
  --color-bg-thin-constast: #ca0662;
  --color-inline-code-bg: #144d53;
  --color-inline-code-fg: #ebf9ff;
}