$foundation-palette: (
  primary  : #E6003C,
  secondary: #767676,
  success  : #3adb76,
  warning  : #ffae00,
  alert    : #cc4b37,
);

$shadow-grey   : #f0f0f0;
$dark          : #000000;
$light-grey-bg : #fafafa;
$light-grey-bg2: #f0f0f0;
$light-grey    : #E0E0E0;
$grey          : #757575;
$dark-grey     : #212121;
$blue-grey     : #37474F;
$blue          : #455A64;
$yellow        : #EFEBE9;
$pink          : #E6003C;
$purple        : #490A66;
