@import 'node_modules/foundation-sites/scss/util/util';

$foundation-palette: (
  primary  : #E6003C,
  secondary: #767676,
  success  : #3adb76,
  warning  : #ffae00,
  alert    : #cc4b37,
);

$dark       : #000000;
$light-grey-bg: #fcfcfc;
$light-grey : #757575;
$dark-grey  : #212121;
$light-brown: #EFEBE9;
$pink       : #E6003C;
