---
layout: default
---
<div class="banner">
  <h1 id="title">Faiez Hares</h1>
  <p>
  	I am a programmer with a rich experience in building large-scale web applications. <br>
  	I can help with front-end and back-end technologies, product design, and configuration management. <br>
  	<b>I am looking for new challenges</b>, preferably remote.
  </p>
  <p>
  	So, if you are still struggling with that messy codebase,
  	or you are looking forward growing your team, get in touch.
  </p>
  <a class="button" href="{{ site.resume }}">
  	Get to know my experience better
  </a>
</div>
<div class="grid-x grid-margin-x">
  <section class="auto cell">
    {% include notes.html %}
  </section>
  <div class="large-5 cell">
    {% include about.html %}
    {% include subscription-home.html %}
  </div>
</div>
