$primary-color	      : #4A515C;
$hover-color          : #6A7079;

$primary-color_dark   : #212121;
$primary-color_light  : #424546;
$bg-color             : #FFFFFF;
$block-bg-color       : #1F2226;
$highligthed-bloc-bg  : #F9F9FC;

aside {
  color: $hover-color;
}

// Blocks 
.bloc > .headline {
  color: $primary-color_light;
}

.highligthed-bloc {
  background-color: $highligthed-bloc-bg;
}

// Text blocks
.text-bloc > .primary_bright {
  color: $primary-color_dark;
}

.text-bloc > .accent a {
  color: $primary-color_dark;
}

.text-bloc > .accent a:hover {
  color: $primary-color_light;
}

.text-bloc > small {
  color: $hover-color;
}

.text-bloc > p {
 color: $primary-color_light;
}

// Code
.highlighter-rouge {
  background: $block-bg-color;
}

.highlighter-rouge code {
  background: none;
  color:      $bg-color;
  border:     none;
}
