$body-font-color: #616161;

// Foundation override
$bg-color         : #FFFFFF;
$secondary-color  : #E6003C; // pink

// custom
$anchor-font-color: $secondary-color;
$third-color      : #757575; // light yellow grey

$primary-color  : #424242; // dark yellow grey
$hover-color    : $third-color;

$purpule   : #7A1E63;
$light-grey: #F7F7F7;

$highlight      : #FAFAFA;

.bloc > h1 {
  color: $third-color;
}

.text-bloc {

  aside {
    color: $third-color;
  }

  .headline a {
    color: $primary-color;
  }

  .headline a:hover {
    color: $hover-color;
  }
}

.highligthed-bloc {

  background-color: $highlight;

  * {
    color: $primary-color;
  }
}

.highlighter-rouge {
  background: $primary-color;
}

.highlighter-rouge code {
  background: none;
  color:      $anchor-font-color;
  border:     none;
}

figure {
  background-color: $purpule;

  img {
    opacity: 1;
  }
}

