.row {
  max-width: 50rem;
}

.vertical-outset {
  margin-bottom: 0;
}

.vertical-inset {
  margin-top:    $paragraph-margin-bottom;
  margin-bottom: $paragraph-margin-bottom;
}

.horizontal-icons a {
  margin-right: 0.4em;
}

.highlighter-rouge {
  width:      100%;
  padding:    5px;
}

figure.avatar {
  margin: 0;
  width: 8em;
}

.bloc {
  margin-top: 40px;
}
