$paragraph-margin-bottom: 2rem;
$heading-margin-bottom  : 1rem;
$inline-list-default-float-list-margin: 1rem !default;

$header-height: 100px;

@mixin horizontal-block {
  padding: {
    top   : $paragraph-margin-bottom;
    bottom: $paragraph-margin-bottom;
  }
}

body > header {
  height: $header-height  ;
}

.bounded {
  @extend .large-10;
  padding-left: grid-calc(2, 12);
}

.absolute {
  margin: 0;
}

.bloc {
  @include horizontal-block;
}

.highligthed-bloc {
  @include horizontal-block;
}

.vertical-inset {
  @include horizontal-block;
}

.vertical-outset {
  margin-bottom: $heading-margin-bottom;
}

.horizontal-icons a {
  margin-right: 0.4em;
}

.highlighter-rouge {
  width  : 100%;
  padding: 5px;
}

figure.avatar {
  margin: 0;
  width : 8em;
}
