$light-margin    : 0.3rem;
$default-margin  : 1rem;
$vertical-margin : 2rem;
$paragraph-margin: 1.7rem;

$avatar-size: 170px;

@mixin horizontal-block {
  padding: {
    top   : $paragraph-margin;
    bottom: $paragraph-margin;
  }
}

article {
  padding: $default-margin 0 $default-margin 0;
}

section, header {
  padding: $default-margin 0 $vertical-margin 0;
}

h1 {
  margin: 0 0 0.5rem 0;
}

.bloc > h1 {
  margin-bottom: $default-margin;
}

.banner > h1 {
  margin: 0;
}

.banner > p {
  margin-top: 0;
}

.banner > a > i {
  margin-left: $light-margin;
}

.columns {
  padding-left: $paragraph-margin;
  padding-right: $paragraph-margin;
}

.bounded {
  @extend .large-10;
  padding-left: grid-calc(2, 12);
}

@media only screen and (max-width: 40em) {
  .bounded {
    padding: 0;
  }
}

.highligthed-bloc {
  @include horizontal-block;
}

.vertical-outset {
  margin-bottom: 0;
}

.horizontal-icons a {
  margin-right: $default-margin;
}

.highlighter-rouge {
  width  : 100%;
  padding: 5px;
}

figure.avatar {
  margin: 0;
  width : $avatar-size;
}