// serif font
@import url(https://fonts.googleapis.com/css?family=Lora);

// overridden foundation fonts
$font-family-serif     : "Lora";
$font-family-sans-serif: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;

// custom style

.title-header {
  color: $primary-color_bright;
}

.header-navigation_bar {
  line-height: 4em;
}

.text-primary_light {
  color: $primary-color_light;
}

.text-primary_bright {
  color: $primary-color_bright;
}

.text-accent {
  color    : $accent-color;
}
