// serif font
@import url(https://fonts.googleapis.com/css?family=Lora);
// sans-serif font
@import url(https://fonts.googleapis.com/css?family=Roboto);

// overridden foundation fonts
$font-family-serif      : "Lora";
$font-family-sans-serif : "Roboto", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;

// custom colors
$primary-color_light  : #bdbdbd;
$primary-color_bright : #9e9e9e;

// custom style
.header-navigation_bar {
  line-height: 4em;
}

.text-primary_light {
  color: $primary-color_light;
}

.text-primary_bright {
  color: $primary-color_bright;
}