// serif font
@import url(https://fonts.googleapis.com/css?family=Lora);
// sans-serif font
@import url(https://fonts.googleapis.com/css?family=Roboto);

// overridden foundation fonts
$font-family-serif      : "Lora";
$font-family-sans-serif : "Roboto", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;

// custom colors
$primary-color_light  : #bdbdbd;
$primary-color_bright : #9e9e9e;
$accent-color         : #212121;

// custom size
$accent-font-size     : 0.8em;
$h1-font-size         : 1.6em;

// custom style
h1 {
  font-size: $h1-font-size;
}
h3 {
  margin-bottom: 0;
}

.title-header {
  color: $header-title-color;
}

.header-navigation_bar {
  line-height: 4em;
}

.text-primary_light {
  color: $primary-color_light;
}

.text-primary_bright {
  color: $primary-color_bright;
}

.text-accent {
  font-size: $accent-font-size;
  color    : $accent-color;
}

.text-details {
  color: $primary-color_bright;
  font-size: 70%;
}