.button.secondary {
  border: 1px solid $light-grey;
  background: white;
  color: $pink;

  &:hover, &:active {
    border: 1px solid $light-grey;
    background: white;
    color: $grey;
  }
}

#title {
  a {
    color: inherit;
  }
}

h1 {
  color: $blue-grey;
}

#post {
  .post h2 {
    color: $pink;
  }
}

#subscription {
  background: $light-grey-bg;
}

#subscription.addon {
  .hint {
    color: $pink;
  }
}

footer {
  background: $dark-grey;

  a {
    color: $grey;
  }

  aside {
    color: #fff;
  }
}

aside {
  color: $blue;
}

.menu a {
  color: $dark;
}

.menu a:hover, .text-bloc a:hover {
  color: $grey;
}

.banner {
  background: $light-grey-bg2;
  .fa-bookmark {
    color: $blue;
  }
}

code {
  background: $light-grey-bg;
  border: none;
  font-color: $purple;
}

.highlight {
  background: $light-grey-bg;

  code {
    border: none;
    background: none;
  }
}

blockquote {
  p {
    color: $grey;
  }
}
