#title {
  a {
    color: inherit;
  }
  aside a {
    color: $blue;
  }
}

footer {
  background: $dark-grey;

  a {
    color: $light-grey;
  }

  aside {
    color: #fff;
  }
}

aside {
  color: $light-grey;
}

.menu a {
  color: $dark;
}

.menu a:hover, .text-bloc a:hover {
  color: $light-grey;
}
