.button.secondary {
  border: 1px solid $light-grey;
  background: white;
  color: $pink;

  &:hover, &:active {
    border: 1px solid $light-grey;
    background: white;
    color: $grey;
  }
}

.button.transparent {
  background: $white;
  color: $pink;
}

#title {
  a {
    color: inherit;
  }
}

h1, h2, h3 {
  color: $blue-grey;
}

#subscription.addon {
  .hint {
    color: $pink;
  }
}

footer {
  &, a {
    color: $grey;
  }

  border-top: 1px solid $light-grey;
}

aside {
  color: $blue;
}

.menu a {
  color: $dark;
}

.menu a:hover, .text-bloc a:hover {
  color: $grey;
}

.banner {
  background: $light-grey-bg2;
  .fa-bookmark {
    color: $blue;
  }
}

code {
  background: $light-grey-bg;
  border: none;
  font-color: $purple;
}

.highlight {
  background: $light-grey-bg;

  code {
    border: none;
    background: none;
  }
}

blockquote {
  p {
    color: $grey;
  }
}
