$small-margin  : 0.3rem;
$default-margin  : 1rem;
$double-margin   : 2rem;
$huge-margin     : 3rem;
$paragraph-margin: 1.5rem;

@mixin horizontal-block {
  padding: {
    top   : $paragraph-margin;
    bottom: $paragraph-margin;
  }
}

.grid-container {
  max-width: 50rem;
  margin: $double-margin auto;
}

h1 {
  margin-bottom: $default-margin;
}

header menu {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 0;
  padding: 0;
}

section {
  margin-top: $double-margin;
}

.button {
  border-radius: 5px;
}

#about {
  padding: $default-margin 0;

  a.button {
    margin-bottom: 0;
  }
}

aside.float-right {
  position: absolute;
  top     : 0;
  right   : 0;
  width   : 25%;
  height  : 100%;
  padding-top: 20%;
}

#subscription {
  padding: $default-margin;
  height: 100%;

  form > div {
    display: flex;
    flex-direction: column;
    div {
      width: 100%;
    }

    .email {
      max-width: 400px;
    }

    .button {
      padding: 0.7rem;
      margin-left: 0.3rem;
    }
  }
}

#subscription.addon {
  margin: $double-margin 0;
}

#post {
  header {
    margin: $double-margin 0;
  }

  h2 {
    margin-bottom: $small-margin;
  }

  h2 {
    margin: $huge-margin 0 $default-margin 0;
  }

  h3 {
    margin: $double-margin 0 $default-margin 0;
  }
}

.highligthed-bloc {
  @include horizontal-block;
}

.highlighter-rouge {
  width  : 100%;
  padding: 5px;
}

figure {
  margin-bottom: $double-margin;
  
  img {
    display: block;
    width: 100%;
    margin-bottom: inherit;
  }
}

.highlight {
  padding: $default-margin 0;
}

footer {
  margin-top: $huge-margin + $default-margin;
}

@media print, screen and (max-width: 80em) {
  aside.float-right {
    display: none;
  }
}

@media print, screen and (max-width: 40em) {
  header menu {
    flex-direction: column;

    ul {
      flex-direction: column !important;
      align-items: baseline !important;

      li {
        margin: 1rem 0 0 0 !important;
      }
    }
  }
}
