$default-margin  : 1rem;
$double-margin   : 2rem;
$paragraph-margin: 1.5rem;

@mixin horizontal-block {
  padding: {
    top   : $paragraph-margin;
    bottom: $paragraph-margin;
  }
}

.grid-container {
  max-width: 65rem;
  margin: 3rem auto;
}

h1 {
  margin-bottom: $default-margin;
}

header menu {
  display: flex;
  flex-direction: row-reverse;
}

section {
  margin-top: $double-margin;
}

#about {
  padding: $default-margin 0;

  a.button {
    margin-bottom: 0;
  }
}

#subscription {
  padding: $default-margin;

  form > div {
    display: flex;
    align-items: end;

    .button {
      padding: 0.7rem;
      margin-left: 0.3rem;
    }
  }
}

#subscription.addon {
  margin: $double-margin 0;
}

#post {
  header > h1 {
    margin-bottom: $default-margin;
  }
  h1, h2, h3 {
    margin-top: $double-margin;
    margin-bottom: $default-margin;
  }
}

.highligthed-bloc {
  @include horizontal-block;
}

.highlighter-rouge {
  width  : 100%;
  padding: 5px;
}

figure {
  margin-bottom: $double-margin;
  
  img {
    display: block;
    width: 100%;
    margin-bottom: inherit;
  }
}

.highlight {
  padding: $default-margin 0;
}
