$border-radius: 5px;

$half-margin   : 0.5rem;
$default-margin: 1rem;
$medium-margin : 2rem;
$huge-margin   : 4rem;

@mixin horizontal-block {
  padding: {
    top   : 1.5rem;
    bottom: 1.5rem;
  }
}

.page {
  display: flex;
  justify-content: center;
  margin: $medium-margin 0;

  main {
    width: 45%;
  }
}

.grid-container {
  max-width: 50rem;
}

h1, h2, h3 {
  margin-bottom: $default-margin;
}

header menu {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

section, footer {
  margin-top: $huge-margin;
}

.button {
  border-radius: $border-radius;
}

.button.transparent {
  padding: $half-margin $half-margin $half-margin 0;
}

#about {
  #reach-me {
    align-items: center;

    > *:not(:last-child) {
      margin: 0;
    }

    > :last-child {
      margin-left: $half-margin;
    }
  }
}

#subscription {
  height: 40px;

  form > div {
    display: flex;
    input {
      border-radius: $border-radius;
    }

    .email {
      max-width: 400px;
      width: 250px;
    }

    .button {
      padding: 0.7rem;
      margin-left: 0.3rem;
    }
  }

  #mce-responses {
    display: none;
  }

  .addon {
    margin: $medium-margin 0;
  }
}

#post {
  header {
    margin: 0 0 $medium-margin 0;
  }

  h2 {
    margin: $medium-margin 0 $default-margin 0;
  }

  h3 {
    margin: $medium-margin 0 $default-margin 0;
  }
}

.highligthed-bloc {
  @include horizontal-block;
}

.highlighter-rouge {
  width  : 100%;
  padding: 5px;
}

figure {
  margin-bottom: $medium-margin;

  img {
    display: block;
    width: 100%;
    margin-bottom: inherit;
  }
}

.highlight {
  padding: $default-margin 0;
}

footer {
  margin-top: $huge-margin;
  padding-top: $default-margin;
}

@media print, screen and (max-width: 80em) {
  aside.float-right {
    display: none;
  }

  .grid-container {
    margin   : $medium-margin auto;
  }
}

@media print, screen and (max-width: 40em) {
  header menu {
    flex-direction: column;

    ul {
      flex-direction: column !important;
      align-items: baseline !important;

      li {
        margin: $default-margin 0 0 0 !important;
      }
    }
  }
}
