$light-margin    : 0.3rem;
$default-margin  : 1rem;
$vertical-margin : 2rem;
$paragraph-margin: 1.5rem;
$huge-margin     : 6rem;

@mixin horizontal-block {
  padding: {
    top   : $paragraph-margin;
    bottom: $paragraph-margin;
  }
}

#about {
  padding: $default-margin 0;

  a.button {
    margin-bottom: 0;
  }
}

body > * {
  margin-top: $default-margin;
  padding   : $default-margin 0;
}

footer {
  margin-top: $default-margin * 2;
}

h1{
  margin-bottom: $default-margin;
}

#subscription {
  padding: $default-margin;

  div:first-of-type {
    margin-top: $light-margin;
  }
}

#subscription.addon {
  margin: $vertical-margin 0;
}

.grid-container {
  max-width: 65rem;
}

header menu {
  display: flex;
  flex-direction: row-reverse;
}
.menu a {
  padding: {
    top   : 0;
    bottom: 0;
  }
}

article {
  margin-bottom: $paragraph-margin;

  aside {
    margin-bottom: $light-margin;
  }
}

section {
  margin-top: $vertical-margin;
}

.highligthed-bloc {
  @include horizontal-block;
}

.highlighter-rouge {
  width  : 100%;
  padding: 5px;
}

.banner {
  p:first-child {
    margin-bottom: 0;
  }
  section {
    margin: 0;
    padding: $default-margin;
  }
  a {
    font-weight: 400;
  }

 .fa-bookmark {
    position: relative;
    top: -$paragraph-margin;

}
  margin: 0 0 $huge-margin 0;
}

#post {
  header > h1 {
    margin-bottom: $default-margin;
  }
  h1, h2, h3 {
    margin-top: $vertical-margin;
    margin-bottom: $default-margin;
  }
}

figure {
  margin-bottom: $vertical-margin;
  
  img {
    display: block;
    width: 100%;
    margin-bottom: inherit;
  }
}

.highlight {
  padding: $default-margin 0;
}
