$light-margin    : 0.3rem;
$default-margin  : 1rem;
$vertical-margin : 2rem;
$paragraph-margin: 1.5rem;
$huge-margin     : 6rem;

@mixin horizontal-block {
  padding: {
    top   : $paragraph-margin;
    bottom: $paragraph-margin;
  }
}

#about {
  padding: $default-margin;
}

body > * {
  margin-top: $default-margin;
  padding   : $default-margin 0;
}

footer {
  margin-top: $default-margin * 2;
}

h1 {
  margin-bottom: $vertical-margin;
}

#subscription {
  padding: $default-margin;

  div:first-of-type {
    margin-top: $light-margin;
  }
}

#subscription.addon {
  margin: $vertical-margin 0;
}

.grid-container {
  max-width: 65rem;
}

.menu a {
  padding: {
    top   : 0;
    bottom: 0;
  }
}

article {
  margin-bottom: $default-margin;
}

section {
  margin-bottom: $vertical-margin;
}

.highligthed-bloc {
  @include horizontal-block;
}

.highlighter-rouge {
  width  : 100%;
  padding: 5px;
}

.banner {
  h1 {
    margin-bottom: 0;
  }

  p {
    width: 70%;
  }

  margin: 0 0 $huge-margin 0;
}
