@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Fira+Mono|Martel:300');

$serif     : 'Martel', Times, serif !default;
$sans-serif: 'Open Sans', sans-serif !default;

$default-size: 1.1rem;
$tiny-size   : 0.889rem;
$medium-size : 1.2rem;
$big-size    : 1.3rem;
$fat-size    : 2rem;

body {
  font: {
    family: $sans-serif;
    weight: 300;
  }
}

@mixin header($font-size: $default-size, $weight: inherit) {
  font: {
    family: inherit;
    size  : $font-size;
    weight: $weight;
  }
}

p {
  font-size: $default-size;
}

.button, strong, .strong {
  font-weight: 400;
}

ul {
  list-style-type: circle;
}

h1 {
  @include header($medium-size, 600);
}

header h1 {
  @include header($fat-size, auto);
}

h2 {
  @include header($medium-size);
}

h3, h4, h5, h6 {
  @include header;
}

aside {
  font-size: $tiny-size;
}

.menu a {
  font-size: 1rem;
}

#title {
  @include header($fat-size);
}

#subscription.addon {
  font-size: 1rem;

  .hint {
    font-weight: 400;
  }
}

#post {
  font-size: $default-size;

  .post {
    font-family: $serif;

    h2, h3 {
      font-size: $medium-size;
    }

    h2 {
      font-weight: 600;
    }

    h3 {
      font-weight: 400;
    }
  }

  h1, h2, h3 {
    font-family: $sans-serif;
  }
}

code {
  font: {
    family: 'Fira Mono', monospace;
    size: 1rem;
  }
}
