@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

$serif     : 'Pacifico', Times, serif !default;
$sans-serif: 'Open Sans', sans-serif !default;

$default-size: 1.1rem;
$tiny-size   : 0.889em;
$medium-size : 1.125em;
$fat-size    : 1.4em;

body {
  font: {
    family: $sans-serif;
    size  : $default-size;
    weight: 300;
  }
}

@mixin header($font-size: $default-size) {
  font: {
    family: inherit;
    size  : $font-size;
    weight: inherit;
  }
}

footer {
  font-size: 1rem;
}

strong {
  font-weight: 400;
}

ul {
  list-style-type: none;
}

h1 {
  @include header($fat-size);
}

h2 {
  @include header($medium-size);
}

h3, h4, h5, h6 {
  @include header;
}

.menu a {
  font-size: 1rem;
}

#subscription.addon {
  font-size: 1rem;

  .hint {
    font-weight: 400;
  }
}

#post {
  h2, h3 {
    font-weight: 400;
  }
}
