@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Fira+Mono|Martel:400,700');

$serif     : 'Martel', Times, serif !default;
$sans-serif: 'Open Sans', sans-serif !default;

$tiny-size  : 0.889em;
$medium-size: 1.1em;
$big-size   : 1.6em;
$fat-size   : 2.6em;

body {
  font: {
    family: $sans-serif;
    weidght: 400;
  }
}

@mixin header($font-size: 1em, $weight: 700) {
  font: {
    family: $sans-serif;
    size  : $font-size;
    weight: $weight;
  }
}

h1 {
  @include header($fat-size)
}

h2 {
  @include header($big-size)
}

h3 {
  @include header($medium-size, 400)
}

p, h3 {
  font-family: $serif;
}

#post {
  span, ul, ol {
    font-family: $serif;
  }

  h3 {
    @include header($medium-size, 600)
  }

  a {
    font: {
      family: $sans-serif;
      weight: 600;
    }
  }
}

ul {
  list-style-type: circle;
}

aside {
  font-size: $tiny-size;
}

#subscription.addon {
  font-size: 1rem;
}

code {
  font: {
    family: 'Fira Mono', monospace;
    size: 1rem;
  }
}
