<div class="grid-x grid-margin-x banner">
  <section class="auto cell">
    <i class="fa fa-bookmark"></i>
    <p>
      <strong>Hey!</strong> I am a programmer with a rich experience building large-scale web applications.
      I can help with front-end and back-end technologies, product design, and configuration management. <br>
      <strong>I am open for remote positions</strong>.
      <a href="mailto:{{ site.email }}">Let me know</a> if you have something in mind.
    </p>
  </sectio>
</div>

