<menu class="menu simple">
  {% if site.twitter_handle %}
  <li>
    <a class="item" href="https://twitter.com/{{ site.twitter_handle }}">
      <i class="fab fa-twitter"></i>
      <span>Twitter</span>
    </a>
  </li>
  {% endif %}

  {% if site.linkedin_handle %}
  <li>
    <a class="item" href="https://linkedin.com/in/{{ site.linkedin_handle }}">
      <i class="fab fa-linkedin"></i>
      <span>Linkedin</span>
    </a>
  </li>
  {% endif %}

  {% if site.github_handle %}
  <li>
    <a class="item" href="https://github.com/{{ site.github_handle }}">
      <i class="fab fa-github top"></i>
      <span>Github</span>
    </a>
  </li>
  {% endif %}

  {% if site.goodreads_handle %}
  <li>
    <a class="item" href="https://goodreads.com/user/show/{{ site.goodreads_handle }}">
      <i class="fab fa-goodreads top"></i>
      <span>Goodreads</span>
    </a>
  </li>
  {% endif %}

  {% if site.letterboxd_handle %}
  <li>
    <a class="item" href="https://letterboxd.com/{{ site.letterboxd_handle }}/films/">
      <i class="fa-solid fa-film top"></i>
      <span>Letterboxd</span>
    </a>
  </li>
  {% endif %}

  {% if site.instagram_handle %}
  <li>
    <a class="item" href="https://instagram.com/{{ site.instagram_handle }}">
      <i class="fab fa-instagram top"></i>
      <span>Instagram</span>
    </a>
  </li>
  {% endif %}

  {% if site.behance_handle %}
  <li>
    <a class="item" href="https://behance.net/{{ site.behance_handle }}">
      <i class="fab fa-behance top"></i>
      <span>Behance</span>
    </a>
  </li>
  {% endif %}
</menu>
