<div class="horizontal-icons">
  {% if site.twitter_username %}
  <a class="item" href="https://twitter.com/{{ site.twitter_username }}">
    <i class="fa fa-twitter"></i>
  </a>
  {% endif %}

  {% if site.github_username %}
  <a class="item" href="https://github.com/{{ site.github_username }}">
    <i class="fa fa-github top"></i>
  </a>
  {% endif %}

  {% if site.behance_username %}
  <a class="item" href="https://behance.net/{{ site.behance_username }}">
    <i class="fa fa-behance"></i>
  </a>
  {% endif %}

  {% if site.email %}
  <a class="item" href="mailto:{{ site.email }}">
    <i class="fa fa-envelope"></i>
  </a>
  {% endif %}
</div>
