<script>
const inlineArray = (arr = []) => arr.length ? arr.reduce((acc, each) => [...acc, ...each]) : []

class EntropyEditor {
  constructor(entropyValueElement) {
    this.entropyValueElement = entropyValueElement
    this.currentOperation = null
    this.analysis = null
    this.currentHighlights = []
    this.actualCodeSlice = null
  }

  clear(decorationsIds) {
    const lineCount = this.editor.getModel().getLineCount()
    const range = new monaco.Range(1, 1, lineCount, this.editor.getModel().getLineMaxColumn(lineCount))
    const allDecorationsIds = this.editor.getDecorationsInRange(range).map((decoration) => decoration.id)
    const decorations = decorationsIds || allDecorationsIds
    this.editor.deltaDecorations(decorations, [])
  }

  forEachLine(callback) {
    let lineStart = 0
    const decorations = []
    const lineCount = this.editor.getModel().getLineCount()
    for (let eachLineNumber = 1; eachLineNumber <= lineCount; eachLineNumber++) {
      const lineRange = this.editor.getModel().getLineContent(eachLineNumber)
      const lineColumnsCount = this.editor.getModel().getLineMaxColumn(eachLineNumber)

      const currentDecorations = callback(eachLineNumber, lineStart, lineColumnsCount)
      const decorationIds = this.editor.deltaDecorations([], currentDecorations)

      decorations.push(...decorationIds)
      lineStart += lineColumnsCount
    }
    return decorations
  }

  evaluateCode() {
    try {
      const needleant = new window.NeedleAnt(this.editor.getModel().getValue())
      this.analysis = needleant.entropy()
      const entropyValue = this.analysis.evaluate().calculate()
      this.entropyValueElement.innerText = entropyValue.toFixed(3)
      this.forEachLine(this.highlightActuals.bind(this))
    } catch(e) {
      this.entropyValueElement.innerText = 'Syntax error!'
    }
  }

  onCodeChange() {
    this.entropyValueElement.innerText = '...'

    if (this.currentOperation) {
      clearTimeout(this.currentOperation)
    }

    this.currentOperation = setTimeout(() => {
      this.clear()
      this.evaluateCode()
    }, 500)
  }

  onCursorMove(event) {
    this.clear(this.currentHighlights)

    if (!this.analysis)
      return

    const position = this.editor.getPosition();
    const offset = this.editor.getModel().getOffsetAt(position)

    const actualCodeSlices =
        (this.analysis.evaluations || [this.analysis])
          .filter(e => inlineArray(Array.from(e.actual.elements.values())).find(each => each.start <= offset && each.end >= offset))

    if (!actualCodeSlices || !actualCodeSlices.length)
      return
    
    this.actualCodeSlice = actualCodeSlices[0]
    this.currentHighlights = this.forEachLine(this.highlightPossibles.bind(this))
  }

  highlightPossibles(eachLineNumber, lineStart, lineColumnsCount) {
    const possibleCodeSlices = inlineArray(Array.from(this.actualCodeSlice.possible.elements.values()))
    return possibleCodeSlices
      .filter(eachPossible => eachPossible.start >= lineStart && eachPossible.start <= lineStart + lineColumnsCount)
      .map(e => ({
        range: new monaco.Range(eachLineNumber, e.start - lineStart + 1, eachLineNumber, e.end - lineStart + 1),
        options: { inlineClassName: 'line-decoration--secondary' }
      }))
  }

  highlightActuals(eachLineNumber, lineStart, lineColumnsCount) {
    return inlineArray(
        (this.analysis.evaluations || [this.analysis])
          .map(e => inlineArray(Array.from(e.actual.elements.values())))
      )
        .filter(eachActual => eachActual.start >= lineStart && eachActual.start <= lineStart + lineColumnsCount)
        .map(e => ({
          range: new monaco.Range(eachLineNumber, e.start - lineStart + 1, eachLineNumber, e.end - lineStart + 1),
          options: { inlineClassName: 'line-decoration' }
        }))
  }

  adaptTheme() {
    const darkModeToggleElement = document.querySelector('#toggleMode')
    this.editor.updateOptions({ theme: darkModeToggleElement.checked ? 'vs-dark' : 'vs' })
  }

  setEditor(editor) {
    this.editor = editor
    const darkModeToggleElement = document.querySelector('#toggleMode')
    darkModeToggleElement.addEventListener('change', () => this.adaptTheme())
    this.editor.getModel().onDidChangeContent(() => this.onCodeChange())
    this.editor.onDidChangeCursorPosition((e) => this.onCursorMove(event))
  }
}

const entropyValueElement = document.querySelector('#total-entropy-value')
window.entropyEditor = new EntropyEditor(entropyValueElement)

const initialCode = ``
require.config({ paths: { vs: 'https://unpkg.com/monaco-editor@latest/min/vs' }});
const containerElement = document.getElementById('container')
const createEditor = require(["vs/editor/editor.main"], function () {
  const editor = monaco.editor.create(containerElement, {
    value: initialCode,
    language: 'javascript',
    autoIndent: 'full',
    fontSize: 16,
    minimap: {
      enabled: false,
    },
  })
  window.entropyEditor.setEditor(editor)
})
</script>

<style>
  .line-decoration {
    background-color: var(--color-inline-code-bg);
    opacity: .8;
  }

  .line-decoration--secondary {
    background-color: var(--color-highlight2--code);
  }

  .line-decoration:hover {
    opacity: 1;
  }

  .line-decoration--loader {
    background-color: var(--color-bg-thin-constast);
  }
</style>