<section class="highligthed-bloc">
  <div class="row absolute">
    <div class="columns">
      <p>
         I am looking for new opportunities.
         I would be happy to join a team and share, learn,
         and explore new ways of solving problems.
         I might bring valuable insights to your mission.
         If you are looking toward growing your team, please get in touch.
         I am in Tunisia, I am willing to work remotely,
         and I am willing to relocate.
      </p>
    </div>
  </div>
</section>
