<script type="text/javascript">
document.querySelector("#summary-container")
  .innerHTML += document.querySelector("#post-page h2,#post-page h3") ? `
    <aside class="post-summary-container">
      <div class="post-summary">
        <ul>
          ${
            Array
            .from(document.querySelectorAll("h2,h3"))
            .map(each => `
              <li class="header-${each.tagName}">
                <a href="#${each.id}">
                  ${each.innerText}
                </a>
              </li>
            `)
            .join('')}
        </ul>
      </div>
    </aside>
  ` : ''
</script>
