<section>
  <header class="post-header">
    <h1>Where to go next</h1>
    <p>
      My travel recrod, I put highlights from my last trips:
      places I visited, corners missed, and spots I want to visit again.
      In themeselves, these destinations might not be attractive.
      But they are usually in beautiful, strategic, and historical neighborhoods.
      The walk between them tells a lot.
    </p>
  </header>

  <div class="post">
    <h2>Madrid, Spain</h2>
    <ul>
      <li>Toledo Gate</li>
      <li>Royal Palace of Madrid</li>
      <li>Plaza Mayor</li>
      <li>Metropolis Building</li>
      <li>Plaza de Chueca</li>
      <li>El Retiro Park</li>
      <li>Puerta de Alcalá</li>
      <li>Plaza de Cibeles</li>
      <li>Naval Museum</li>
      <li>Neptune Fountain</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Plaza de España</li>
      <li>Temple of Debod</li>
      <li>Toledo</li>
    </ul>

    <h2>Himeji, Japan</h2>
    <ul>
      <li>Himeji Castle</li>
      <li>Koko-en</li>
      <li>Uomachi street</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Mount Shosha</li>
    </ul>

    <h2>Nara, Japan</h2>
    <ul>
      <li>Nara Park</li>
      <li>Sanjo dori street</li>
      <li>Sarusawa-ike Pond</li>
      <li>Isuien Garden</li>
      <li>Yoshikien Garden</li>
      <li>Nara Buddhist Sculpture Hall</li>
      <li>Kasuga Taisha Shrine</li>
      <li>Yakushi-ji</li>
      <li>Toshodai-ji</li>
      <li>Tōdai-ji</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Nara National Museum</li>
      <li>Ukimido</li>
      <li>Isuien Garden and Neiraku Museum</li>
      <li>Heijō Palace Site Historical Park</li>
      <li>Yoshino</li>
    </ul>

    <h2>Osaka, Japan</h2>
    <ul>
      <li>Osaka Castle</li>
      <li>Osaka Tenmangu</li>
      <li>Tenjinbashi</li>
      <li>Umeda Sky Building</li>
      <li>Tombori River walk</li>
      <li>Dotonbori</li>
      <li>Namba Yasaka Jinja</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>The Osaka Museum of Housing and Living</li>
    </ul>

    <h2>Kanazawa, Japan</h2>
    <ul>
      <li>Tsuzumi-mon Gate</li>
      <li>Higashi Chaya District</li>
      <li>Kazuemachi Chaya District</li>
      <li>Ōmichō Market</li>
      <li>Kenroku-en</li>
      <li>Nomura-ke Samurai Residence</li>
      <li>Nagamachi</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Ishikawa Prefectural Museum of Traditional Arts and Crafts</li>
      <li>Oyama Shrine</li>
      <li>Miharashidai</li>
      <li>Kanazawa Castle Ruins</li>
    </ul>

    <h2>Kyoto, Japan</h2>
    <ul>
      <li>Senbondori</li>
      <li>Kyoto Sanjo shopping street</li>
      <li>Unryu-in</li>
      <li>Imakumano Kannon-ji Temple</li>
      <li>Sennyu-ji Temple</li>
      <li>Sannenzaka</li>
      <li>Kiyomizu-dera</li>
      <li>Kyoto Tower</li>
      <li>Hanamikoji Street</li>
      <li>Yasaka-jinja Shrine</li>
      <li>Chion-in Temple</li>
      <li>Shoren-in Temple</li>
      <li>Heian Shrine</li>
      <li>Nijō Castle</li>
      <li>Fushimi Inari Taisha</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Kyoto National Museum</li>
      <li>Kōdai-ji Temple</li>
      <li>Higashi Hongan-ji Temple</li>
      <li>Eikan-dō (Zenrin-ji) Temple</li>
      <li>Kinkaku-ji</li>
    </ul>

    <h2>Tokyo, Japan</h2>
    <ul>
      <li>Akihabara Electric Town</li>
      <li>Sensō-ji</li>
      <li>Kuramae-jinja Shrine</li>
      <li>Tokyo National Museum</li>
      <li>Ueno Park</li>
      <li>Nezu Shrine</li>
      <li>Yanaka Ginza</li>
      <li>Tsumakoi Shrine</li>
      <li>Suehiroinari Shrine</li>
      <li>Shibuya Scramble Crossing</li>
      <li>Nihonbashi</li>
      <li>Artizon Museum</li>
      <li>Imperial Palace</li>
      <li>Akasaka</li>
      <li>Omoide Yokochō</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Kanda Shrine</li>
      <li>Rikugien Gardens</li>
      <li>Sunshine City</li>
      <li>Shinjuku Gyoen National Garden</li>
      <li>Shinjuku Central Park</li>
      <li>Roppongi</li>
      <li>Tokyo Tower</li>
    </ul>

    <h2>Amsterdam, Netherlands</h2>
    <ul>
      <li>Oosterdok</li>
      <li>Rederij Plas</li>
      <li>Red Light District</li>
      <li>Dam</li>
      <li>De 9 Straatjes</li>
      <li>Jordaan</li>
      <li>Grachtengordel</li>
      <li>Rembrandtplein</li>
      <li>National Opera & Ballet</li>
      <li>Skinny Bridge</li>
      <li>Oude Pijp</li>
      <li>Jan Luijkenstraat</li>
      <li>Vondelpark</li>
      <li>China town</li>
      <li>Sint Antoniesbreestraat</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Royal Palace</li>
      <li>Amsterdam-Noord</li>
    </ul>

    <h2>Barcelona, Spain</h2>
    <ul>
      <li>Pg. de Gràcia</li>
      <li>Plaça de Catalunya</li>
      <li>La Rambla</li>
      <li>Cathedral of Barcelona</li>
      <li>Gothic Quarter</li>
      <li>Rambla De Mar</li>
      <li>Aquàrium Barcelona</li>
      <li>Telefèric del Port</li>
      <li>Parc del Mirador del Poble-sec</li>
      <li>Plaça Reial</li>
      <li>La Sagrada Familia</li>
      <li>Arco de Triunfo de Barcelona</li>
      <li>Plaça Reial</li>
      <li>La Barceloneta</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Arenas de Barcelona</li>
      <li>Plaça d'Espanya</li>
      <li>Museu Nacional d'Art de Catalunya</li>
      <li>Magic Fountain of Montjuïc</li>
      <li>Casa Vicens Gaudí</li>
    </ul>

    <h2>Oslo, Norway</h2>
    <ul>
      <li>The Fram Museum</li>
      <li>The National Museum</li>
      <li>Historical Museum</li>
      <li>Homansbyen</li>
      <li>The Royal Palace</li>
      <li>Aker Brygge Marina</li>
      <li>Akershus Fortress</li>
      <li>Studenterlunden Park</li>
      <li>Grünerløkka</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Nobel Peace Center</li>
      <li>Hydroparken</li>
      <li>The Vigeland Park</li>
      <li>Munch</li>
      <li>Norwegian Museum of Science and Technology</li>
      <li>Vettakollen Viewpoint</li>
      <li>Viking Ship Museum</li>
    </ul>

    <h2>Malaga, Spain</h2>
    <ul>
      <li>Malaga Museum</li>
      <li>Old town</li>
      <li>Málaga Park</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Alcazaba</li>
      <li>Interactive Music Museum</li>
      <li>Picasso Museum Málaga</li>
      <li>Mirador de Gibralfaro</li>
    </ul>

    <h2>Granada, Spain</h2>
    <ul>
      <li>Alhambra</li>
      <li>Albaicín</li>
      <li>Saint Michael Viewpoint</li>
      <li>Mirador de San Cristóbal</li>
      <li>Alcaicería</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Parque de las Ciencias</li>
      <li>Basílica de San Juan de Dios</li>
      <li>Palacio Dar al-Horra</li>
      <li>Abadía del Sacromonte</li>
    </ul>

    <h2>Cordoba, Spain</h2>
    <ul>
      <li>Mosque-Cathedral of Córdoba</li>
      <li>Museo Arqueológico de Córdoba</li>
      <li>Torre De Calahorra</li>
      <li>Roman Bridge</li>
      <li>Puerta del Puente</li>
      <li>Plaza de la Corredera</li>
      <li></li>
      <li>Templo Romano</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Medina Azahara</li>
    </ul>

    <h2>Seville, Spain</h2>
    <ul>
      <li>Centro</li>
      <li>Plaza de España</li>
      <li>Santa Cruz neighborhood</li>
      <li>Royal Alcázar</li>
      <li>Catedral de Sevilla</li>
      <li>Puente de Triana</li>
      <li>Casa de Pilatos</li>
      <li>Torre del Oro</li>
      <li>Setas de Sevilla</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Royal Alcázar at night</li>
      <li>Casa de Pilatos first floor</li>
      <li>Seville Museum of Fine Arts</li>
      <li>Torre del Oro</li>
      <li>Museo Del Castillo De San Jorge</li>
    </ul>

    <h2>Lisbon, Portugal</h2>
    <ul>
      <li>Museu Calouste Gulbenkian</li>
      <li>Praça Dom Pedro IV</li>
      <li>Praça Luís de Camões</li>
      <li>Arco da Rua Augusta</li>
      <li>Oceanário de Lisboa</li>
      <li>Parque das Nações</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>National Tile Museum</li>
      <li>Museu do Oriente</li>
      <li>Miradouro do Jardim do Torel</li>
      <li>Graça`s Viewpoint</li>
      <li>Castelo de S. Jorge</li>
      <li>Lisbon Military Museum</li>
      <li>Lisbon Cathedral</li>
      <li>Ponte 25 de Abril</li>
      <li>Museu de Marinha</li>
    </ul>

    <h2>Madeira, Portugal</h2>
    <ul>
      <li>Praça do Povo, Funchal</li>
      <li>Zona Velha, Funchal</li>
      <li>Ribeira do Inferno, Sao Vicente</li>
      <li>Praceta dos Cardais, Sao Vicente</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Biking tour</li>
    </ul>

    <h2>Lagos, Portugal</h2>
    <ul>
      <li>Old town</li>
      <li>Porta de São Gonçalo</li>
      <li>Forte da Ponta da Bandeira</li>
      <li>Miradouro Praia da Batata</li>
      <li>Hike from  Beach Estudantes to  Ponta da Piedade</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Pedra das Gaivotas</li>
      <li>Sagres Fortress</li>
    </ul>

    <h2>Faro, Portugal</h2>
    <ul>
      <li>Faro Marina</li>
      <li>Arco da Vila</li>
      <li>Municipal Museum</li>
      <li>Cerca urbana</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Former Beer Factory</li>
    </ul>

    <h2>Cologne, Germany</h2>
    <ul>
      <li>Hohenzollernbrücke</li>
      <li>Cologne Chocolate Museum</li>
      <li>Cologne Cathedral</li>
      <li>Severinstorburg</li>
      <li>Old Market</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Museum Ludwig</li>
      <li>Severinstorburg</li>
    </ul>

    <h2>Italian Riviera/Ligurian Riviera, Italy</h2>
    <ul>
      <li>Portofino and S. Margharitta</li>
      <li>La Spezia</li>
      <li>Cinque terre</li>
      <li>Bonassola</li>
      <li>Levanto</li>
      <li>San Terenzo</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Portovenere</li>
      <li>Cinque terre closed hiking paths</li>
      <li>Cinque terre high hiking paths</li>
      <li>Parco Naturale Regionale di Porto Venere</li>
    </ul>

    <h2>Milan, Italy</h2>
    <ul>
      <li>Brera District</li>
      <li>Piazza Mercanti</li>
      <li>Duomo di Milano</li>
      <li>Basilica San Lorenzo Maggiore</li>
      <li>Naviglio Grande</li>
      <li>Milano-Genoa by train</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Museo Nazionale della Scienza e della Tecnologia Leonardo da Vinci</li>
      <li>Civic Archaeological Museum</li>
      <li>Sempione Park</li>
    </ul>

    <h2>Stockholm, Sweden</h2>
    <ul>
      <li>Evert Taubes Terrass</li>
      <li>Kvarnholmen</li>
      <li>Riddarholmskajen</li>
      <li>Norrmalm</li>
      <li>Nationalmuseum</li>
      <li>Gamla stan</li>
      <li>Ormsaltaren</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Vasa Museum</li>
    </ul>

    <h2>Paris, France</h2>
    <ul>
      <li>Tour d'Eiffel</li>
      <li>Louvre</li>
      <li>Notre dame</li>
      <li>Seine</li>
      <li>Palace/Garden of Versailles</li>
      <li>Sacré-Coeur</li>
      <li>Champs-Élysées</li>
      <li>The Basilica of Sacré-Cœur de Montmartre</li>
      <li>Place de la Concorde</li>
      <li>Tuileries Garden</li>
      <li>Place Saint-Michel</li>
      <li>Chatelet</li>
      <li>Hôtel de Ville</li>
      <li>Bercy Village</li>
      <li>Parc Monceau</li>
      <li>Pl. de la Madeleine</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Aquarium de Paris</li>
    </ul>

    <h2>Copenhagen, Denmark</h2>
    <ul>
      <li>Lake Pavilion</li>
      <li>Stork Fountain</li>
      <li>National Museum of Denmark</li>
      <li>Copenhagen Opera House</li>
      <li>Nyhavn</li>
      <li>The Little Mermaid</li>
      <li>Havnebadet Islands Brygge & Havneparken</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>National Museum of Denmark again</li>
      <li>Inner city</li>
      <li>Freetown Christiania</li>
      <li>Copenhagen Opera House at night</li>
      <li>Reffen, Copenhagen Street Food</li>
    </ul>

    <h2>Geneva, Switzerland</h2>
    <ul>
      <li>Passerelle du Lignon</li>
      <li>Passerelle de Chèvres</li>
      <li>Musée d'Art et d'Histoire</li>
      <li>Jardin Anglais</li>
      <li>The Geneva Water Fountain</li>
      <li>Baby-Plage</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Park Evaux</li>
      <li>Pointe de la Jonction</li>
      <li>Pont Butin</li>
      <li>Genève-Plage</li>
    </ul>

    <h2>Amman, Jordan</h2>
    <ul>
      <li>Amman Citadel Hill</li>
      <li>Jabal Al Lweibdeh</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>The other part of Amman</li>
    </ul>

    <h2>Petra, Jordan</h2>
    <ul>
      <li>The Treasury</li>
      <li>The Roman town</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
      <li>Petra trail mountain valley</li>
    </ul>
  </div>
</section>
