<div>
    <h1>Where to go next</h1>
    <p>
        This is my personal travel track. It gives the highlights of what I visited and what I missed.
        I travel with a backpack. I stay at hostels.
        I spend the days wondering, hiking, walking, and chilling around beautiful sights.
        The attractions below might not be that much interesting.
        But, those elders know were to put their legacies.
        They're usually in beautiful locations and the walk between them tells a lot about the city.
    </p>

    <h2>Italian Riviera/Ligurian Riviera, Italy</h2>
    <ul>
        <li>Portofino and S. Margharitta</li>
        <li>La Spezia</li>
        <li>Cinque terre</li>
        <li>Bonassola</li>
        <li>Levanto</li>
        <li>San Terenzo</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
        <li>Portovenere</li>
        <li>Try closed hiking paths</li>
        <li>Try high hiking paths</li>
        <li>Parco Naturale Regionale di Porto Venere</li>
    </ul>

    <h2>Milan, Italy</h2>
    <ul>
        <li>Brera District</li>
        <li>Piazza Mercanti</li>
        <li>Duomo di Milano</li>
        <li>Basilica San Lorenzo Maggiore</li>
        <li>Naviglio Grande</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
        <li>Museo Nazionale della Scienza e della Tecnologia Leonardo da Vinci</li>
        <li>Civic Archaeological Museum</li>
        <li>Sempione Park</li>
    </ul>

    <h2>Stockholm, Sweden</h2>
    <ul>
        <li>Evert Taubes Terrass</li>
        <li>Kvarnholmen</li>
        <li>Riddarholmskajen</li>
        <li>Norrmalm</li>
        <li>Nationalmuseum</li>
        <li>Gamla stan</li>
        <li>Ormsaltaren</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
        <li>Vasa Museum</li>
    </ul>

    <h2>Paris, France</h2>
    <ul>
        <li>Tour d'Eiffel</li>
        <li>Louvre</li>
        <li>Notre dame</li>
        <li>Seine</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
        <li>Louvre again</li>
    </ul>

    <h2>Copenhagen, Denmark</h2>
    <ul>
        <li>Lake Pavilion</li>
        <li>Stork Fountain</li>
        <li>National Museum of Denmark</li>
        <li>Copenhagen Opera House</li>
        <li>Nyhavn</li>
        <li>The Little Mermaid</li>
        <li>Havnebadet Islands Brygge & Havneparken</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
        <li>National Museum of Denmark again</li>
        <li>Go far from the city center</li>
        <li>Freetown Christiania</li>
        <li>Copenhagen Opera House at night</li>
        <li>Reffen, Copenhagen Street Food</li>
    </ul>

    <h2>Geneva, Switzerland</h2>
    <ul>
        <li>Passerelle du Lignon</li>
        <li>Passerelle de Chèvres</li>
        <li>Musée d'Art et d'Histoire</li>
        <li>Jardin Anglais</li>
        <li>The Geneva Water Fountain</li>
        <li>Baby-Plage</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
        <li>Park Evaux</li>
        <li>Pointe de la Jonction</li>
        <li>Pont Butin</li>
        <li>Genève-Plage</li>
    </ul>

    <h2>Amman, Jordan</h2>
    <ul>
        <li>Amman Citadel Hill</li>
        <li>Jabal Al Lweibdeh</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
        <li>The other part of Amman</li>
    </ul>

    <h2>Petra, Jordan</h2>
    <ul>
        <li>The Treasury</li>
        <li>The Roman town</li>
    </ul>
    <h3>Next visit</h3>
    <ul>
        <li>Petra trail mountain valley</li>
    </ul>
</div>