.page, code {
  color: var(--color-primary);
}

a {
  color: var(--color-highlight)
}

.dark-mode-switch:checked ~ .page  {
  background-color: var(--color-bg);
}

.button.transparent {
  background: var(--color-light-bg2);
  color: var(--color-light-fg2);

  img {
    opacity: .1;
  }

  &:hover {
    color: var(--color-highlight);
  }
}

#title {
  a {
    color: inherit;
  }
}

h1, h2, h3 {
  color: var(--color-primary-title);
}

#subscription {
  .hint {
    color: var(--color-highlight);
  }
}

footer {
  &, a {
    color: var(--color-highlight2);
  }

  border-top: 1px solid var(--color-bg-thin-constast);
}

aside {
  background: var(--color-light-bg);
  color: var(--color-light-fg);
}

.menu a {
  color: var(--color-light-fg2);

  &:hover {
    color: var(--color-highlight2);
  }
}

.text-bloc a:hover {
  color: var(--color-highlight2);
}

code {
  background: var(--color-inline-code-bg);
  border: none;

  &.highlighter-rouge {
      color: var(--color-inline-code-fg);
  }
}

.highlight {
  code {
    background: none;
  }
}

blockquote {
  p {
    color: var(--color-highlight2);
  }
}

pre.highlight {
  border-left: 2px solid var(--color-bg-thin-constast);
}

.dark-mode-switch {
  & ~ .toggle-text {
    background: var(--color-contrast-bg);
    color: var(--color-contrast-fg);

    &:hover {
      color: var(--color-contrast-fg-hover);
    }
  }
}

/** experimetns
#covid19-banner {
  background: #f9f9f9;

  .principal{
    .button {
      background: #cef2ce;
      color: #418a41;
    }
  }
}

#book-banner {
  h2 {
    border-bottom: 4px solid #3cf5b2;
  }

  .principal{
    border: 1px solid #b7d0c7;

    .button {
      background: #3cf5b2;
      color: #384950;
    }
  }
}

.banner {
  background: var(--color-light-grey-bg2);
  .fa-bookmark {
    background: var(--color-light-bg);
    color: var(--color-light-fg);
  }
}
*/
