a {
  color: var(--color-highlight);

  &:hover {
    color: var(--color-highlight2);
  }

  code {
    background: var(--color-highlight--code);

    &:hover {
      background: var(--color-highlight2--code);
    }
  }
}

aside {
  color: var(--color-light-fg);
}

h1, h2, h3 {
  color: var(--color-primary-title);
}

footer {
  border-top: 1px solid var(--color-bg-thin-constast);
}

.page {
  background-color: var(--color-bg);
  color: var(--color-primary);
}

.dark-mode-switch {
  & ~ .toggle-text {
    background: var(--color-contrast-bg);
    color: var(--color-contrast-fg);

    &:hover {
      color: var(--color-contrast-fg-hover);
    }
  }

  &:checked ~ .page  {
    background-color: var(--color-bg);
  }
}

.header-button {
  background: var(--color-light-bg2);
  color: var(--color-light-fg3);
  box-shadow: 8px 9px 0px -4px var(--color-light-shadow);

  &:hover {
    color: var(--color-highlight);
  }
}

.header-left-menu {
  background: var(--color-bg);
  border: 1px solid var(--color-primary-title);
  box-shadow: 8px 9px 0px -4px var(--color-light-shadow2);

  a {
    color: var(--color-light-fg2);

    &:hover {
      color: var(--color-highlight2);
    }
  }
}

code {
  background: var(--color-inline-code-bg);
  border: none;

  &.highlighter-rouge {
      color: var(--color-inline-code-fg);
  }
}

pre.highlight {
  border-left: 2px solid var(--color-bg-thin-constast);

  code {
    background: none;
  }
}

blockquote {
  border-left: 2px solid var(--color-bg-thin-constast);
  
  p {
    color: var(--color-highlight2);
  }
}
