$border-radius: 5px;

$half-margin   : 0.5rem;
$default-margin: 1rem;
$medium-margin : 2rem;
$huge-margin   : 4rem;

@media print, screen and (min-width: 40em){
	.row {
		display: flex;
		justify-content: space-between;
	}
}

body {
	margin: 0;
	padding: 0;
  overflow-x: hidden;
}

blockquote {
  margin: 0;
  padding-left: $default-margin;
}

h1, h2, h3 {
  margin-bottom: $huge-margin;
}

section, footer {
  margin-top: $default-margin;
}

figure {
  margin-bottom: $medium-margin;

  img {
    display: block;
    width: 100%;
    margin-bottom: inherit;
  }
}

code {
  padding: 0;
}

footer {
  margin-top: $huge-margin;
  padding-top: $default-margin;
}

.page {
  display: flex;
  flex-direction: column;
  padding: $medium-margin 0;
  min-height: 100vh;

  div.principal {
    width: 50%;
    align-self: center;
    position: relative;
    z-index: 1;

    &.principal--home {
      width: 45%;
    }
  }

  svg.banner--light, svg.banner--dark {
    max-width: 1200px;
  }

  svg.banner--dark {
    display: none;
  }
}

.header-left-menu, .header-right-menu {
	padding: 0;
	margin: 0;
	list-style: none;
	position: relative;
	display: flex;
	flex-wrap: wrap;
  
  a {
    line-height: 1;
    display: block;
    padding: 0.7rem 1rem;
  }
}

.header-left-menu {
  padding: 0 0 0 15px;
  border-radius: 3px;

  a {
    padding-left: 0;
  }
}

.button {
  border-radius: $border-radius;
}

.banner--home {
  margin: $half-margin 0 $huge-margin 0;
  max-height: 200px;
}

.post-container {
  width: 100%;
}

.post {
  header {
    margin: 0 0 $medium-margin 0;
  }

  h2 {
    margin: $medium-margin 0 $default-margin 0;
  }

  h3 {
    margin: $medium-margin 0 $default-margin 0;
  }
}

.highligthed-bloc {
  top   : 1.5rem;
  bottom: 1.5rem;
}

.highlighter-rouge {
  width  : 100%;
  padding: 0 5px;
}

pre.highlight {
  padding: $default-margin;
  margin: $default-margin 0;
  overflow: scroll;
}

@media print, screen and (max-width: 80em) {
  .page div.principal {
    width: 85%;

    &.principal--home {
      width: 85%;
    }
  }

  .header-left-menu {
    margin-bottom: 15px;
  }
}

.dark-mode-switch {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;

  & ~ .toggle-text {
    cursor: pointer;
    position: fixed;
    padding: 10px;
  }
  
  & ~ .toggle-text--dark {
    display: block;
  }
  
  & ~ .toggle-text--light {
    display: none;
  }
  
  &:checked ~ .toggle-text--dark{
    display: none;
  }
  
  &:checked ~ .toggle-text--light{
    display: block;
  }

  &:checked ~ .page svg.banner--light {
    display: none;
  }

  &:checked ~ .page svg.banner--dark {
    display: block;
  }

  &:checked ~ .page a.header-button img {
    visibility: hidden;
  }
}

@media print, screen and (max-width: 80em) {
  .dark-mode-switch {
    & ~ .toggle-text {
      position: relative;
      z-index: 2;
      padding: 1em 0 1em 8%;
    }
  }
}
