@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Fira+Mono|Martel:400,700');

$serif     : 'Martel', Times, serif !default;
$sans-serif: 'Open Sans', sans-serif !default;

$tiny     : 0.889rem;
$medium   : 1.2rem;
$big      : 1.6em;
$fat      : 4rem;
$extra-fat: 5rem;

$paragraph: 1.4rem;

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font: {
    family: $sans-serif,Helvetica,Roboto,Arial,sans-serif;
    weight: 400;
  }
}

@mixin header($font-size: 1em, $weight: 700) {
  font: {
    family: $sans-serif;
    size  : $font-size;
    weight: $weight;
  }
}

h1 {
  @include header($fat)
}

h2 {
  @include header($big)
}

h3 {
  @include header($medium, 400)
}

a {
  text-decoration: none;
  font-size: $big;

  code {
    font-weight: 400;
  }
}

ul {
  list-style-type: circle;
}

code {
  font: {
    family: 'Fira Mono', monospace;
  }
}

aside {
  font: {
    weight: 700;
  }
}

.header-button {
  font-weight: 700;
}

.banner-title--home {
  font: {
    size: $extra-fat;
  }
}

.post, .post-header {
  h3 {
    @include header($medium)
  }

  p, ul, ol, a {
    font: {
      family: $serif;
      size: $paragraph;
    }
  }

  a {
    font: {
      weight: 700;
    }
  }
}

.post-summary {
  ul {
    li {
      &.header-H2 {
        a {
          font-size: 1em;
          font-weight: 600;
        }
      }

      &.header-H3 {
        a {
          font-size: 1em;
          font-weight: 400;

          &::before {
            content: "┗";
          }
        }
      }
    }
  }
}
